.git
.gitignore
.env
.env.*
!.env.example
secrets/

mariadb_data/
postgres_data/
glpi_files/
glpi_plugins/
glpi_marketplace/
glpi_config/

node_modules/
vendor/
tmp/
temp/
cache/
logs/
*.log

.DS_Store
Thumbs.db
